<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796500215408-ba6p2m5hfj6k8rq5rkpablh0ag662u0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796500215408-ba6p2m5hfj6k8rq5rkpablh0ag662u0g</string>
	<key>API_KEY</key>
	<string>AIzaSyBd4njhVzwW397ubQmSQJrUl62f-Wq1w0E</string>
	<key>GCM_SENDER_ID</key>
	<string>796500215408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sneaker.firebase</string>
	<key>PROJECT_ID</key>
	<string>sneaker-exp-7</string>
	<key>STORAGE_BUCKET</key>
	<string>sneaker-exp-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796500215408:ios:793325c5509ad0e3</string>
	<key>DATABASE_URL</key>
	<string>https://sneaker-exp-7.firebaseio.com</string>
</dict>
</plist>